<style>
	.tableFixHead          { overflow-y: auto; height:500px; }
  .tableFixHead thead th { position: sticky; top: 0; }
  
  /* Just common table stuff. Really. */
  table  { border-collapse: collapse; width: 100%; }
  td{text-align: center;}
</style>

<div class="container-fluid" ng-controller="documents_controller">
    <div class="row" >
    
        <div class="col-sm-8 offset-2">
        
        <div class="row">
        
        <div class="col-12">
        <div class="col-xs-12">
           
        <h4 class="text-center"> <i class="text-danger">{{filecount}}</i> Receipts</h4>
        </div>
        <!-- Search form -->
        
    
            <input class="form-control mb-1" type="text" ng-model="searchBar" placeholder="Filter Receipts">
            

    <div class="col-12" >	
    <div class="tableFixHead">		
    <table class="table table-hover   mb-0">
        <thead >
            <tr class="thead-dark">
              <th>N</th>
              <th ng-click="orderByMe('fullName')" data-toggle="tooltip" title="click to sort">Month</th>
                <th ng-click="orderByMe('NumberOfCounters')" data-toggle="tooltip" title="click to sort">Created On</th>
              <th >Download</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="document in documents | orderBy:'-name' | filter:searchBar ">
                
                <th class="text-primary"><b>{{$index + 1}}</b></th>
                <th>{{document.name}}</th>
                <th>{{document.modified}}</th>
            
                    <td> 
                <a class="btn btn-primary" role="button" href="{{document.path}}"
                download="{{document.name}}" title="download">
                <i class="fa fa-download" aria-hidden="true"></i>
            </a>
                </td>
            </tr>
        
            
        </tbody>  
        </table>
    </div>
        </div>
        </div>
        
    </div>
    </div>
</div>
</div>



