
<div class="container">
	
	<br>
	<!-- Search form 
	<div class="row">
		<div class="col-sm-8 offset-sm-2">
			 
			<input class="form-control" type="text" placeholder="Filter Costumers by : Name | Phone | Email">
			<br>
		</div>
	</div>
	-->
    <div class="row">
		
        <div class="col-sm-3 offset-sm-3">
        <div class="card">
        <div class="card-header bg-primary text-white "><h4>Costumers</h4></div>
				<div class="card-body text-center"><h4><i>0</i></h4></div>
				<div class="card-footer"><a href="#"><i>Go to Costumers</i></a></div>
				</div>
				 </div>
				 
				 <div class="col-sm-3 ">
						<div class="card">
						<div class="card-header bg-primary text-white "><h4>Counters</h4></div>
						<div class="card-body text-center"><h4><i>0</i></h4></div>
						<div class="card-footer"><a href="#"><i>Go to Counters</i></a></div>
						</div>
						 </div>

		 </div>
		 <br>
		 <div class="row">
		
        <div class="col-sm-3 offset-sm-3">
        <div class="card">
        <div class="card-header bg-danger text-white "><h4>Unpaid Receipts</h4></div>
				<div class="card-body text-center"><h4><i>0</i></h4></div>
				<div class="card-footer"><a href="#"><i>Go to Receipts</i></a></div>
				</div>
				 </div>
				 
				 <div class="col-sm-3">
						<div class="card">
						<div class="card-header bg-danger text-white "><h4>Expenses</h4></div>
						<div class="card-body text-center"><h4><i>0 LBP</i></h4></div>
						<div class="card-footer"><a href="#"><i>Go to Spendings</i></a></div>
						
						</div>
					</div>
						 
		 </div>

</div>

  

